/* Reset et style global */
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #0D0D0A;
    color: white;
}

/* Header */
.header {
    background-color: #0D0D0A;
    padding: 10px 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

/* Logo rond */
.btn-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #FFFF00; /* jaune doux */
    object-fit: cover;
}

/* Lien du menu */
.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
    padding-right: 10px;
}

.nav-link:hover {
    transform: scale(1.1);
    background-color: #ffff00ba;
}

/* Image dans le bouton Accueil */
.textbutton {
    height: 45px;
    width: 45px;
    object-fit: cover;
}

/* Lecteur de scan */
.chap-reader {
    display: flex;
    flex-direction: column; /* images empilées verticalement */
    align-items: center;    /* centre les images sur grands écrans */
    gap: 0;                 /* pas d'espace entre les pages si tu veux */
    padding: 20px;
}

/* Images du chapitre */
.page_scan {
    width: 100%;        /* prend toute la largeur disponible */
    max-width: 900px;   /* limite la taille sur grands écrans */
    height: auto;       /* conserve les proportions */
    display: block;     /* supprime les marges invisibles */
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    color: white;
}

